@tailwind base;
@tailwind components;
@tailwind utilities;
#blogr{
  font-size: 28px;
  font-weight: 600;
}
body{
  font-family: "Overpass",Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.dropdown a {
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 2vh 16px;
  background-color: white;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.dropdown-head {
  text-decoration: none;
  padding: 10px;
  color: white;
  display: inline-block; /* Ensure the anchor takes up its content width */
}

li {
  position: relative; /* Necessary for the absolute positioning of the dropdown */
}

li:hover .dropdown {
  display: block; /* Show the dropdown when hovering over the list item */
}

.dropdown {
  top: 90%;
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

h2,h4{
  color: hsl(208, 49%, 24%)
}
.dropdown:hover{
  background-color: #f9f9f9;
}
.header-container{
  margin-top: 0;
  background-color: hsl(356, 100%, 66%);
  background-image: url(images/bg-pattern-intro-desktop.svg);
  background-size: 110rem;
  background-position: center; 
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 0px 64px;
  height: 24rem; 
}
.navigation-bar {
  width: 100%;
  height: 64px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav items */
  align-items: center; /* Center items vertically */
}

.navigation-bar ul {
  margin-top: 32px;
  margin-left: 64px;
  display: flex;
  gap: 40px; /* Add spacing between items */
  list-style-type: none; /* Remove default list styling */
}

.navigation-bar .left-nav {
  
  border: 2px solid yellow;
  flex: 0.8; /* Take up available space */
  display: flex;
  gap: 2vh;
}

.navigation-bar .right-nav {
  flex: 0.3;
  border: 2px solid green;
  display: flex;
  gap: 2vh;
}

.navigation-bar ul li {
  display: flex;
  align-items: center;
}

.navigation-bar .left-nav li:nth-child(1) {
  flex: 0 0 25vh; /* Fixed width */
}

.navigation-bar .left-nav li:nth-child(2),
.navigation-bar .left-nav li:nth-child(3) {
  flex: 0 0 20vh; /* Fixed width */
}

.navigation-bar .left-nav li:nth-child(4) {
  flex: 0 0 10vh; /* Take remaining space */
  display: flex;
  justify-content: flex-start; /* Align items to the start */
}

.navigation-bar .right-nav li:nth-child(1),
.navigation-bar .right-nav li:nth-child(2) {
  flex: 0 0 3vh; /* Fixed width */
}


.heading-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.25rem;
  border: 2px solid blue;
  text-align: center;
}

.heading-buttons-container{
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-buttons{
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius:2.5rem;
  margin: 8px;
}
#start-for-free-btn{
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  margin-right: 1.5vh;
  border-style: none;
}
#learn-more-btn{
 
  background-color: transparent;
  border-style: solid;
  border-color: hsl(0, 8%, 93%)
}
#learn-more-btn:hover{
  transition: 0.4s;
  background-color: hsl(356, 95%, 42%);
}
.sign-up-button{
  cursor: pointer;
  color: hsl(356, 67%, 52%);
  background-color: hsl(0, 0%, 100%);
  width: 80px;
  height: 32px;
  border-style: none;
  border-radius: 20px 20px 20px 20px;
  margin-top: -3vh;
}

#designed{
  width: 900px;
  text-align: center;
  margin-left: 4.75rem;    
  margin-top: -96px;
  border: 2px solid blue;
}
.first-division-text{
  border: 2px solid blue;
  margin-left: 96px;
  width: 500px;
  height: 360px;
}
.first-division{
  border: 2px solid green;
  align-items: center;
  display: flex;
  gap: 80px;
  height: 732px;
  width: 1200px;
}
.first-division-image img{
  width: 560px;
  height: 480px;
  border: 2px solid blue;
}
.second-division{
  padding-bottom: -20vh;
  border-radius: 0 10vh 0 0;
  background-color:hsl(237, 17%, 21%);
  width: 1200px;
  height: 490px;
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
  background-image: url(images/bg-pattern-circles.svg);
  background-size: 150vh;
  background-position: -176px -368px;
  background-repeat: no-repeat;
}
.second-division-text{
  color: hsl(0, 0%, 100%);
  margin-right: 64px;
  padding-top: 128px;
  width: 640px;
}
.second-division-phones{
  margin-top: -10vh;
  margin-left: 48px;
}
#phones-img{
  width: 90vh;
  height: 95vh;
}
.third-division-text{
  margin-top: 18vh;
  margin-right: 25vh;
  width: 120vh; 
  height: 80vh;
}
.third-division{
  margin-top: 15vh;
  display: flex;
  gap: 30vh;
  flex-direction: row-reverse;   
}
.third-division-image{
  width: 80vh;
}
.third-division-image img{
  width: 110vh;
  height: 90vh;
  object-position: -10vh;
}

footer{
  margin-top: 5vh;
  border-radius: 0 10vh 0 0;
  background-color: hsl(240, 10%, 16%);
  color: whitesmoke;
}
footer ul{
  margin-top: 3vh;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  height: 40vh;
}
a{  
  color: whitesmoke;
  text-decoration: none;
}
.footer-list-head{
  font-size: 14px;
  font-weight: 600;
}
.footer-elements{
  margin-top: 5vh;
}
.footer-element-blogr{
  margin-top: 3vh;
  margin-left: 8vh;
  font-size: 24px;
  font-weight: 600;
}
.footer-list{
  font-size:13px;
  margin-top: 3vh;
  display: grid;  
  font-weight: lighter;
}
.footer-list a{
  margin-top: 2vh;
}



